{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 90,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "jsxSingleQuote": false
}
